.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-weight: bold;
}

.header {
    font-size: 50px;
}

.label {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.loginBtn {
    width:70%;
    margin-top: 20px;
    border: none;
    background-color: rgb(53, 180, 159);
    color: white;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.loginBtn:active {
    background-color: rgb(173, 233, 223);
    color: black;
}