.modalContainer {
    width : 100%;
    height : 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(120, 120, 120, 0.5);
    z-index: 1000;
}

.container {
    width: 80%;
    max-width: 500px;
    height: 50%;
    background-color: white;
    box-shadow: 0px 0px 2px 2px #dddddd;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 450px;
}

.title {
    margin: 30px;
    font-size: 1.5rem;
}

.profileImg {
    width: 27%;
    min-width: 100px;
    max-width: 150px;
    border-radius: 25%;
    border: 2px solid #eeeeee;
}

.disabled {
    background-color: #eeeeee;
    width: 90%;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    height : 35px;
    margin: 10px 0px 25px 0px;
}

.modalInput {
    width: 90%;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    height : 35px;
    margin: 10px 0px 25px 0px;
  }
  
.modalInput:focus {
    border: 1px solid #54c2b0;
    outline-color: #54c2b0;
}

.modalInputWarn {
    width: 90%;
    padding-left: 20px;
    border-radius: 20px;
    border: 1px solid #ff2727;
    height : 35px;
    margin: 10px 0px 25px 0px;
    background-color: #ffeeee;
  }

.sContainer {
    width: 90%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sContainer > p {
    width: 90%;
    text-align: left;
}

.row {
    width: 90%;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: end;
}

.sContainer > .row > p {
    margin-right: 15px;
}

.warn {
    font-size: 0.8rem;
    color: red;
    font-weight: normal;
}

.hide {
    display: none;
}

.plus {
    position: absolute;
    width: 40px;
    top: -89px;
    right: 10px;
}

.image {
    position: relative;
}