
  .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 360px;
  }
  
  .container {
    width: 100%;
    height: calc(100vh - 130px);
    margin-bottom: 5px;
    overflow-y: auto;
    margin-top: 55px;
  }
  
  
  .row {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c3411;
    height: 70px;
  }
  
  .input {
    width: 70%;
    min-width: 250px;
    padding: 0px 13px;
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    height : 35px;
  }
  
  .input:active, .input:focus {
    border: 1px solid gray;
    outline-color: gray;
  }