.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: bold;
}

.header {
    font-size: 50px;
}

.label {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.loginBtn:active {
    background-color: rgb(173, 233, 223);
    color: black;
}

.joinBtn:active {
    background-color: rgb(173, 233, 223);
    color: black;
}

.btnArea {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input {
    width: 40%;
    min-width: 250px;
    max-width: 500px;
    padding: 0px 20px;
    border-radius: 20px;
    border: 1px solid #aaaaaa;
    height : 35px;
  }
  
  .input:active, .input:focus {
    border: 1px solid #54c2b0;
    outline-color: #54c2b0;
  }