.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myProfile {
    width: 93%;
    height: calc(100vh - 140px);
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profileImg {
    width: 27%;
    min-width: 100px;
    max-width: 150px;
    border-radius: 25%;
    margin: 30px 0px;
}

.subTitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
    height : 50px;
    line-height: 50px;
}

.sContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modBtn {
    width: 25%;
    min-width: 100px;
    max-width: 200px;
    margin: 40px;
}

.btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    bottom: 0px;
}

.start {
    width: 70%;
    max-width: 300px;
    min-width: 200px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px;
    align-items: center;
}

.bold {
    font-weight: bold;
    margin-right: 5%;
}

.switch {
    width: 50px;
    height: 17px;
    /* max-width: 60px;
    max-height: 25px;
    min-width: 50px;
    min-height: 20px; */
    background-color: rgba(132, 218, 202, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    padding: 8px;
    cursor: pointer;
  }
  
  .switch[data-isOn="true"] {
    justify-content: flex-end;
    background-color: rgba(37, 185, 158, 0.4);
  }

  .handle {
    width: 25%;
    height: 25%;
    max-width: 30px;
    max-height: 30px;
    min-width: 20px;
    min-height: 20px;
    background-color: rgb(240, 255, 251);
    border-radius: 40px;
  }

  .sender {
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }

  .text {
    margin-top: 7px;
    width: 400px;
    display: flex;
    justify-content: space-around;
  }

  .boxContainer {
    text-align: left;
  }

  .createDttm {
    width: 70px;
  }