.container {
    width: 100%;
    margin-top: 55px;
    height: calc(100vh-110px);
}
  
  .listItem {
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    position: relative;
  }

  .chatBtn {
    position: absolute;
    margin-top : 25px;
    right: 10px;
  }

  .nick {
    width: 20%;
    max-width: 400px;
    min-width: 100px;
    color: #7a7a7a;
    text-align: left;
  }

  .id {
    padding-left: 20px;
    font-size: 1.1rem;
    color: #000000;
    text-align: left;
  }