* {
  font-size: 0.9rem;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  width: 40%;
  min-width: 250px;
  max-width: 500px;
  padding: 0px 20px;
  border-radius: 20px;
  border: 1px solid #aaaaaa;
  height : 35px;
}

input:active, input:focus {
  border: 1px solid gray;
  outline-color: gray;
}