* {
  font-size: 0.9rem;
  font-family: 'NanumSquareNeo-Variable';
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}